In [9]:
import pandas as pd

input_file = pd.read_csv("hightemp.txt", header=None)
print(len(input_file))

24

In [8]:
input_file

                               0
0       高知県\t江川崎\t41\t2013-08-12
1      埼玉県\t熊谷\t40.9\t2007-08-16
2     岐阜県\t多治見\t40.9\t2007-08-16
3      山形県\t山形\t40.8\t1933-07-25
4      山梨県\t甲府\t40.7\t2013-08-10
5   和歌山県\tかつらぎ\t40.6\t1994-08-08
6      静岡県\t天竜\t40.6\t1994-08-04
7      山梨県\t勝沼\t40.5\t2013-08-10
8      埼玉県\t越谷\t40.4\t2007-08-16
9      群馬県\t館林\t40.3\t2007-08-16
10    群馬県\t上里見\t40.3\t1998-07-04
11     愛知県\t愛西\t40.3\t1994-08-05
12     千葉県\t牛久\t40.2\t2004-07-20
13    静岡県\t佐久間\t40.2\t2001-07-24
14    愛媛県\t宇和島\t40.2\t1927-07-22
15     山形県\t酒田\t40.1\t1978-08-03
16       岐阜県\t美濃\t40\t2007-08-16
17       群馬県\t前橋\t40\t2001-07-24
18     千葉県\t茂原\t39.9\t2013-08-11
19     埼玉県\t鳩山\t39.9\t1997-07-05
20     大阪府\t豊中\t39.9\t1994-08-08
21     山梨県\t大月\t39.9\t1990-07-19
22     山形県\t鶴岡\t39.9\t1978-08-03
23    愛知県\t名古屋\t39.9\t1942-08-02

In [13]:
fname = 'hightemp.txt'
count = 0
with open(fname) as data_file: # with構文
    for line in data_file: # ファイルを一行ずつ読み込む
#         print(line)
        count += 1
print(count)

24